/venvterraform/credential/credential.json
.pytest_cache
workflows/.pytest_cache
__pycache__/
*.pyc
workflows/src/__pycache__
workflows/src/commons/__pycache__
workflows/src/models/__pycache__
workflows/src/services/__pycache__
workflows/src/utils/__pycache__
workflows/tests/__pycache__
venv
/venv
workflows/.env
ingestion/.env
.idea
.vscode
workflows/*.xml
ingestion_dev/.env
hiper-flow/.env
