/venvterraform/credential/credential.json
.pytest_cache
database/.pytest_cache
__pycache__/
*.pyc
database/src/__pycache__
database/src/commons/__pycache__
database/src/models/__pycache__
database/src/services/__pycache__
database/src/utils/__pycache__
database/tests/__pycache__
venv
/venv
database/.env
ingestion/.env
.idea
.vscode
database/*.xml